.main {
    max-width: 960px;
    margin: 0 auto;
    width: 90%;
    padding: 0 75px 0;
    display: block;
    flex: 1;
    flex-basis: auto;
    box-sizing: border-box;
}

.devise-card {
    border: none;
}

.form-wrap{
    max-width: 400px;
    width: 100%;
    margin: 40px auto;
}

.page-title {
    margin-bottom: 40px;
}

.page-title p {
    font-size: 60px;
    color: #b9d0b1;
    text-align: right;
    line-height: 0.8;
}

.form-group input {
    margin-bottom: 25px;
}

.form-group textarea {
    margin-bottom: 25px;
}

.form-control {
    background-color: #efefef;
    border-color: #efefef;
    font-size: inherit;
    width: 100%;
}

.actions input {
    background-color: #b9d0b1;
    color: #fff;
    border-color: #b9d0b1;
    border-radius: 25px;
    margin-top: 15px;
}

.devise-link {
    text-align: center;
    margin: 16px 0;
}

.devise-link a {
    color: #b9d0b1;
}

#wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    margin-top: auto;
}

@media screen and (max-width: 768px) {
    .main {
        padding: 0;
    }
}
