.navbar {
    background-color: #b9d0b1;
    height: 60px;
    &__brand {
        height: 65px;
        width: 210px;
        background-size: 220px;
    }
    &__mainLogo {
        background-repeat: no-repeat;
        align-items: center;
        background-size: 125px;
        background-image: url("/images/logo.png");
    }
    &-nav {
        & > li {
            margin-left: 5px;
            &:first-child {
                margin-left: 0;
            }
            
            .commonNavIcon {
                height: 53px;
                width: 53px;
                margin-right: 5px;
            }
            
            .postNavIcon {
                height: 47px;
                width: 47px;
            }
        
            .btn-primary {
                background-color: #fff;
                color: #b9d0b1;
                border-radius: 25px;
                border-color: #fff;
                font-size: 14px;
            }
        }
    }
}
