.post-view-wrap {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

.card {
    margin-top: 50px;
}

#date_picker {
    background-color: #efefef;
    border-color: #efefef;
}

.post-btn {
    background-color: #b9d0b1;
    color: #fff;
    border-radius: 25px;
    border-color: #b9d0b1;
    font-size: 14px;
}



.post-profile-icon {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.card-wrap {
    margin: 40px 0px;
}

.no-text-decoration:hover {
    text-decoration: none;
}

.name-color {
    color: #898989;
}

.post-sub-text {
    text-decoration: none;
    color: #262626;
}

.posts_text {
    padding: 0 20px;
}

.delete-image {
    float: right;
}

.delete-post-icon {
    width: 27px;
    height: 27px;
}
