.navbar {
  background-color: #b9d0b1;
  height: 60px;
}
.navbar__brand {
  height: 65px;
  width: 210px;
  background-size: 220px;
}
.navbar__mainLogo {
  background-repeat: no-repeat;
  align-items: center;
  background-size: 125px;
  background-image: url("/images/logo.png");
}
.navbar-nav > li {
  margin-left: 5px;
}
.navbar-nav > li:first-child {
  margin-left: 0;
}
.navbar-nav > li .commonNavIcon {
  height: 53px;
  width: 53px;
  margin-right: 5px;
}
.navbar-nav > li .postNavIcon {
  height: 47px;
  width: 47px;
}
.navbar-nav > li .btn-primary {
  background-color: #fff;
  color: #b9d0b1;
  border-radius: 25px;
  border-color: #fff;
  font-size: 14px;
}
body {
  background-color: #fff;
  font-size: 14px;
  color: #898989;
}
.main {
  max-width: 960px;
  margin: 0 auto;
  width: 90%;
  padding: 0 75px 0;
  display: block;
  flex: 1;
  flex-basis: auto;
  box-sizing: border-box;
}
.devise-card {
  border: none;
}
.form-wrap {
  max-width: 400px;
  width: 100%;
  margin: 40px auto;
}
.page-title {
  margin-bottom: 40px;
}
.page-title p {
  font-size: 60px;
  color: #b9d0b1;
  text-align: right;
  line-height: 0.8;
}
.form-group input {
  margin-bottom: 25px;
}
.form-group textarea {
  margin-bottom: 25px;
}
.form-control {
  background-color: #efefef;
  border-color: #efefef;
  font-size: inherit;
  width: 400px;
}
.actions input {
  background-color: #b9d0b1;
  color: #fff;
  border-color: #b9d0b1;
  border-radius: 25px;
  margin-top: 15px;
}
.devise-link {
  text-align: center;
  margin: 16px 0;
}
.devise-link a {
  color: #b9d0b1;
}
#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
footer {
  margin-top: auto;
}
@media screen and (max-width: 768px) {
  .main {
    padding: 75px 0;
  }
  .devise-card {
    background-color: #fafafa;
  }
}
.profile-wrap {
  max-width: 400px;
  width: 100%;
  margin: 80px auto;
  margin-bottom: 20px;
}
.round-img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.introduction-text {
  margin: 10px 20px;
}
.edit-profile-btn {
  margin: 15px 0 0 15px;
  font-weight: normal;
  color: #b9d0b1;
  height: 26px;
  line-height: 26px;
  padding: 0 26px;
  border-color: #b9d0b1;
  border-radius: 25px;
  font-size: 13px;
}
.posts-img {
  margin-top: 40px;
}
.photo-trim {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-bottom: 20px;
}
/* 都道府県地図エリア */.japan-map {
  margin-top: 30px;
}
ul.jp_map {
  position: relative;
  list-style-type: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul.jp_map a {
  color: #000;
  text-shadow: #fff 2px 0px, #fff -2px 0px, #fff 0px -2px, #fff 0px 2px, #fff 2px 2px, #fff -2px 2px, #fff 2px -2px, #fff -2px -2px, #fff 1px 2px, #fff -1px 2px, #fff 1px -2px, #fff -1px -2px, #fff 2px 1px, #fff -2px 1px, #fff 2px -1px, #fff -2px -1px;
  text-decoration: none;
}
.jp_map li a {
  box-sizing: border-box;
  width: calc(50% - 6px);
  float: left;
  padding: 7px 0;
  border-radius: 10px;
  text-align: center;
  margin: 3px;
}
ul.jp_map {
  padding: 84% 0 0;
}
.jp_map li a {
  width: 7%;
  height: 10%;
  border: solid #fff 2px;
  box-sizing: border-box;
  padding: 7px 0;
  float: none;
  font-size: 14px;
  margin: 0;
}
.jp_map li a:hover {
  text-decoration: none;
}
.jp_map li:nth-child(1) a {
  position: absolute;
  top: 0;
  left: 85%;
  width: 15%;
  background-color: #a3a8d2;
}
.jp_map li:nth-child(2) a {
  position: absolute;
  top: 11%;
  left: 85%;
  width: 14%;
  height: 5.5%;
  background-color: #a0b7da;
}
.jp_map li:nth-child(3) a {
  position: absolute;
  top: 16.5%;
  left: 92%;
  background-color: #a0b7da;
}
.jp_map li:nth-child(4) a {
  position: absolute;
  top: 26.5%;
  left: 92%;
  background-color: #a0b7da;
}
.jp_map li:nth-child(5) a {
  position: absolute;
  top: 16.5%;
  left: 85%;
  background-color: #a0b7da;
}
.jp_map li:nth-child(6) a {
  position: absolute;
  top: 26.5%;
  left: 85%;
  background-color: #a0b7da;
}
.jp_map li:nth-child(7) a {
  position: absolute;
  top: 36.5%;
  left: 92%;
  background-color: #a0b7da;
}
.jp_map li:nth-child(8) a {
  position: absolute;
  top: 46.5%;
  left: 92%;
  background-color: #7ebfe4;
}
.jp_map li:nth-child(9) a {
  position: absolute;
  top: 46.5%;
  left: 85%;
  background-color: #7ebfe4;
}
.jp_map li:nth-child(10) a {
  position: absolute;
  top: 46.5%;
  left: 78%;
  background-color: #7ebfe4;
}
.jp_map li:nth-child(11) a {
  position: absolute;
  top: 56.5%;
  left: 85%;
  background-color: #7ebfe4;
}
.jp_map li:nth-child(12) a {
  position: absolute;
  top: 56.5%;
  left: 92%;
  background-color: #7ebfe4;
}
.jp_map li:nth-child(13) a {
  left: 85%;
  position: absolute;
  top: 66.5%;
  background-color: #7ebfe4;
}
.jp_map li:nth-child(14) a {
  left: 78%;
  position: absolute;
  top: 66.5%;
  background-color: #7ebfe4;
}
.jp_map li:nth-child(15) a {
  position: absolute;
  top: 36.5%;
  left: 78%;
  width: 14%;
  background-color: #a0cda8;
}
.jp_map li:nth-child(16) a {
  position: absolute;
  top: 36.5%;
  left: 71%;
  background-color: #a0cda8;
}
.jp_map li:nth-child(17) a {
  position: absolute;
  top: 36.5%;
  left: 64%;
  background-color: #a0cda8;
}
.jp_map li:nth-child(18) a {
  left: 64%;
  position: absolute;
  top: 46.5%;
  background-color: #a0cda8;
}
.jp_map li:nth-child(19) a {
  position: absolute;
  top: 56.5%;
  left: 78%;
  background-color: #a0cda8;
}
.jp_map li:nth-child(20) a {
  left: 71%;
  position: absolute;
  top: 46.5%;
  height: 20%;
  background-color: #a0cda8;
}
.jp_map li:nth-child(21) a {
  left: 64%;
  position: absolute;
  top: 56.5%;
  background-color: #a0cda8;
}
.jp_map li:nth-child(22) a {
  left: 71%;
  position: absolute;
  top: 66.5%;
  background-color: #a0cda8;
}
.jp_map li:nth-child(23) a {
  left: 64%;
  position: absolute;
  top: 66.5%;
  background-color: #a0cda8;
}
.jp_map li:nth-child(24) a {
  left: 57%;
  position: absolute;
  top: 66.5%;
  background-color: #f7d98e;
}
.jp_map li:nth-child(25) a {
  left: 57%;
  position: absolute;
  top: 46.5%;
  background-color: #f7d98e;
}
.jp_map li:nth-child(26) a {
  left: 50%;
  position: absolute;
  top: 46.5%;
  background-color: #f7d98e;
}
.jp_map li:nth-child(27) a {
  left: 50%;
  position: absolute;
  top: 56.5%;
  background-color: #f7d98e;
}
.jp_map li:nth-child(28) a {
  left: 43%;
  position: absolute;
  top: 46.5%;
  height: 20%;
  background-color: #f7d98e;
}
.jp_map li:nth-child(29) a {
  left: 57%;
  position: absolute;
  top: 56.5%;
  background-color: #f7d98e;
}
.jp_map li:nth-child(30) a {
  left: 50%;
  position: absolute;
  top: 66.5%;
  background-color: #f7d98e;
}
.jp_map li:nth-child(31) a {
  left: 36%;
  position: absolute;
  top: 46.5%;
  background-color: #f0b56c;
}
.jp_map li:nth-child(32) a {
  left: 29%;
  position: absolute;
  top: 46.5%;
  background-color: #f0b56c;
}
.jp_map li:nth-child(33) a {
  left: 36%;
  position: absolute;
  top: 56.5%;
  background-color: #f0b56c;
}
.jp_map li:nth-child(34) a {
  left: 29%;
  position: absolute;
  top: 56.5%;
  background-color: #f0b56c;
}
.jp_map li:nth-child(35) a {
  left: 22%;
  position: absolute;
  top: 51.5%;
  background-color: #f0b56c;
}
.jp_map li:nth-child(36) a {
  left: 36%;
  position: absolute;
  top: 78.5%;
  background-color: #f2c3a9;
}
.jp_map li:nth-child(37) a {
  left: 36%;
  position: absolute;
  top: 68.5%;
  background-color: #f2c3a9;
}
.jp_map li:nth-child(38) a {
  left: 29%;
  position: absolute;
  top: 68.5%;
  background-color: #f2c3a9;
}
.jp_map li:nth-child(39) a {
  left: 29%;
  position: absolute;
  top: 78.5%;
  background-color: #f2c3a9;
}
.jp_map li:nth-child(40) a {
  left: 14%;
  position: absolute;
  top: 46.5%;
  background-color: #eaa4bd;
}
.jp_map li:nth-child(41) a {
  left: 7%;
  position: absolute;
  top: 46.5%;
  background-color: #eaa4bd;
}
.jp_map li:nth-child(42) a {
  left: 0;
  position: absolute;
  top: 46.5%;
  background-color: #eaa4bd;
}
.jp_map li:nth-child(43) a {
  left: 7%;
  position: absolute;
  top: 56.5%;
  background-color: #eaa4bd;
}
.jp_map li:nth-child(44) a {
  left: 14%;
  position: absolute;
  top: 56.5%;
  background-color: #eaa4bd;
}
.jp_map li:nth-child(45) a {
  left: 14%;
  position: absolute;
  top: 66.5%;
  background-color: #eaa4bd;
}
.jp_map li:nth-child(46) a {
  left: 7%;
  position: absolute;
  top: 66.5%;
  background-color: #eaa4bd;
}
.jp_map li:nth-child(47) a {
  left: 0;
  position: absolute;
  top: 76.5%;
  background-color: #f5d2de;
}
.post-view-wrap {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
.card {
  margin-top: 50px;
}
#date_picker {
  background-color: #efefef;
  border-color: #efefef;
}
.post-btn {
  background-color: #b9d0b1;
  color: #fff;
  border-radius: 25px;
  border-color: #b9d0b1;
  font-size: 14px;
}
.post-profile-icon {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-right: 10px;
}
.card-wrap {
  margin: 40px 0px;
}
.no-text-decoration:hover {
  text-decoration: none;
}
.name-color {
  color: #898989;
}
.post-sub-text {
  text-decoration: none;
  color: #262626;
}
.posts_text {
  margin-left: 30px;
}
.delete-image {
  float: right;
}
.delete-post-icon {
  width: 27px;
  height: 27px;
}
.main-introduction {
  margin: 0 auto;
}
.main-letter {
  text-align: center;
  color: #b9d0b1;
  font-size: 17px;
  line-height: 1.2;
  font-family: "Hannari", serif;
  margin-top: 55px;
}
.search-area {
  text-align: center;
}
.search-icon {
  margin: 40px auto 10px;
  color: #b9d0b1;
  font-size: 20px;
}
.modal {
  display: none;
  z-index: 1;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.2);
}
.modal-window {
  z-index: 2;
  width: 500px;
  margin: 20% auto;
  padding: 20px;
  background-color: white;
}
.cross-icon {
  text-align: right;
  color: #b9d0b1;
  font-size: 15px;
}
.box-pref {
  margin: 5px 0 0 40px;
  color: #b9d0b1;
}
.checkbox-pref {
  width: 3em;
}
.pref-layout {
  border-top: 1px solid #b9d0b1;
  padding-top: 13px;
  max-width: 420px;
}
.my-favorites {
  margin-bottom: 70px;
}
