.navbar {
  background-color: #b9d0b1;
  height: 60px;
}
.navbar__brand {
  height: 65px;
  width: 210px;
  background-size: 220px;
}
.navbar__mainLogo {
  background-repeat: no-repeat;
  align-items: center;
  background-size: 125px;
  background-image: url("/images/logo.png");
}
.navbar-nav > li {
  margin-left: 5px;
}
.navbar-nav > li:first-child {
  margin-left: 0;
}
.navbar-nav > li .commonNavIcon {
  height: 53px;
  width: 53px;
  margin-right: 5px;
}
.navbar-nav > li .postNavIcon {
  height: 47px;
  width: 47px;
}
.navbar-nav > li .btn-primary {
  background-color: #fff;
  color: #b9d0b1;
  border-radius: 25px;
  border-color: #fff;
  font-size: 14px;
}
body {
  background-color: #fff;
  font-size: 14px;
  color: #898989;
}
.main {
  max-width: 960px;
  margin: 0 auto;
  width: 90%;
  padding: 0 75px 0;
  display: block;
  flex: 1;
  flex-basis: auto;
  box-sizing: border-box;
}
.devise-card {
  border: none;
}
.form-wrap {
  max-width: 400px;
  width: 100%;
  margin: 40px auto;
}
.page-title {
  margin-bottom: 40px;
}
.page-title p {
  font-size: 60px;
  color: #b9d0b1;
  text-align: right;
  line-height: 0.8;
}
.form-group input {
  margin-bottom: 25px;
}
.form-group textarea {
  margin-bottom: 25px;
}
.form-control {
  background-color: #efefef;
  border-color: #efefef;
  font-size: inherit;
  width: 400px;
}
.actions input {
  background-color: #b9d0b1;
  color: #fff;
  border-color: #b9d0b1;
  border-radius: 25px;
  margin-top: 15px;
}
.devise-link {
  text-align: center;
  margin: 16px 0;
}
.devise-link a {
  color: #b9d0b1;
}
#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
footer {
  margin-top: auto;
}
@media screen and (max-width: 768px) {
  .main {
    padding: 75px 0;
  }
  .devise-card {
    background-color: #fafafa;
  }
}
.profile-wrap {
  max-width: 400px;
  width: 100%;
  margin: 80px auto;
  margin-bottom: 20px;
}
.round-img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.introduction-text {
  margin: 10px 20px;
}
.edit-profile-btn {
  margin: 15px 0 0 15px;
  font-weight: normal;
  color: #b9d0b1;
  height: 26px;
  line-height: 26px;
  padding: 0 26px;
  border-color: #b9d0b1;
  border-radius: 25px;
  font-size: 13px;
}
.posts-img {
  margin-top: 40px;
}
.photo-trim {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-bottom: 20px;
}
.post-view-wrap {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
.card {
  margin-top: 50px;
}
#date_picker {
  background-color: #efefef;
  border-color: #efefef;
}
.post-btn {
  background-color: #b9d0b1;
  color: #fff;
  border-radius: 25px;
  border-color: #b9d0b1;
  font-size: 14px;
}
.post-profile-icon {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-right: 10px;
}
.card-wrap {
  margin: 40px 0px;
}
.no-text-decoration:hover {
  text-decoration: none;
}
.name-color {
  color: #898989;
}
.post-sub-text {
  text-decoration: none;
  color: #262626;
}
.posts_text {
  margin-left: 30px;
}
.delete-image {
  float: right;
}
.delete-post-icon {
  width: 27px;
  height: 27px;
}
.main-introduction {
  margin: 0 auto;
}
.main-letter {
  text-align: center;
  color: #b9d0b1;
  font-size: 17px;
  line-height: 1.2;
  font-family: "Hannari", serif;
  margin-top: 55px;
}
.search-area {
  text-align: center;
}
.serch-icon {
  margin: 40px auto 10px;
  color: #b9d0b1;
  font-size: 20px;
}
.modal {
  display: none;
  z-index: 1;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.2);
}
.modal-window {
  z-index: 2;
  width: 500px;
  margin: 20% auto;
  padding: 20px;
  background-color: white;
}
.cross-icon {
  text-align: right;
  color: #b9d0b1;
  font-size: 15px;
}
/*チェックボックス、ラジオボタンのブロックの指定*/.box-pref {
  margin: 5px 0 0 40px;
  color: #b9d0b1;
}
.checkbox-pref {
  width: 3em;
}
.my-favorites {
  margin-bottom: 70px;
}
