.navbar {
  background-color: #b9d0b1;
  height: 60px;
}
.navbar__brand {
  height: 65px;
  width: 210px;
  background-size: 220px;
}
.navbar__mainLogo {
  background-repeat: no-repeat;
  align-items: center;
  background-size: 125px;
  background-image: url("/images/logo.png");
}
.navbar-nav > li {
  margin-left: 20px;
}
.navbar-nav > li:first-child {
  margin-left: 0;
}
.navbar-nav > li .btn-primary {
  background-color: #fff;
  color: #b9d0b1;
  border-radius: 25px;
  border-color: #fff;
  font-size: 14px;
}
body {
  background-color: #fff;
  font-size: 14px;
  color: #898989;
}
.main {
  max-width: 960px;
  margin: 0 auto;
  width: 90%;
  padding: 30px 75px 30px;
  display: block;
  flex: 1;
  flex-basis: auto;
  box-sizing: border-box;
}
.devise-card {
  border: none;
}
.form-wrap {
  max-width: 400px;
  width: 100%;
  margin: 50px auto;
}
.page-title {
  margin-bottom: 50px;
}
.page-title p {
  font-size: 60px;
  color: #b9d0b1;
  text-align: right;
  line-height: 0.8;
}
.form-group input {
  margin-bottom: 25px;
}
.form-group textarea {
  margin-bottom: 25px;
}
.form-control {
  background-color: #efefef;
  border-color: #efefef;
  font-size: inherit;
  width: 400px;
}
.actions input {
  background-color: #b9d0b1;
  color: #fff;
  border-color: #b9d0b1;
  border-radius: 25px;
  margin-top: 15px;
}
.devise-link {
  text-align: center;
  margin: 16px 0;
}
.devise-link a {
  color: #b9d0b1;
}
#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
footer {
  margin-top: auto;
}
@media screen and (max-width: 768px) {
  .main {
    padding: 75px 0;
  }
  .devise-card {
    background-color: #fafafa;
  }
}
.profile-wrap {
  max-width: 400px;
  width: 100%;
  margin: 100px auto;
}
.round-img {
  border-radius: 50%;
  width: 120px;
  height: 120px;
}
.introduction-text {
  margin: 10px 20px;
}
.edit-profile-btn {
  margin: 15px 0 0 15px;
  font-weight: bold;
  height: 26px;
  line-height: 26px;
  padding: 0 26px;
  border-color: #dbdbdb;
  font-size: 14px;
}
.setting {
  background-image: url("/images/parts4.png");
  background-repeat: no-repeat;
  height: 24px;
  width: 24px;
  background-color: transparent;
  margin: 18px 0 0 10px;
  background-size: 22px !important;
  border: none;
}
.setting:hover {
  cursor: pointer;
}
