.profile-wrap {
  max-width: 400px;
  width: 100%;
  margin: 80px auto;
  margin-bottom: 20px;
}
.round-img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.introduction-text {
  margin: 10px 20px;
}
.edit-profile-btn {
  margin: 15px 0 0 15px;
  font-weight: normal;
  color: #b9d0b1;
  height: 26px;
  line-height: 26px;
  padding: 0 26px;
  border-color: #b9d0b1;
  border-radius: 25px;
  font-size: 13px;
}
.posts-img {
  margin-top: 40px;
}
.photo-trim {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-bottom: 20px;
}
