.navbar {
  background-color: #b9d0b1;
  height: 60px;
}
.navbar__brand {
  height: 65px;
  width: 210px;
  background-size: 220px;
}
.navbar__mainLogo {
  background-repeat: no-repeat;
  align-items: center;
  background-size: 125px;
  background-image: url("/images/logo.png");
}
.navbar-nav > li {
  margin-left: 20px;
}
.navbar-nav > li:first-child {
  margin-left: 0;
}
.navbar-nav > li .btn-primary {
  background-color: #fff;
  color: #b9d0b1;
  border-radius: 25px;
  border-color: #fff;
  font-size: 14px;
}
