.navbar {
  background-color: rgba(185, 208, 177, 0.5);
  height: 60px;
}
.navbar__brand {
  height: 65px;
  width: 210px;
  background-size: 220px;
}
.navbar__mainLogo {
  background-repeat: no-repeat;
  align-items: center;
  background-image: url("/images/logo.png");
}
.navbar-nav > li {
  margin-left: 20px;
}
.navbar-nav > li:first-child {
  margin-left: 0;
}
.navbar-nav > li .commonNavIcon {
  height: 24px;
  width: 24px;
  background-size: 22px !important;
  background-repeat: no-repeat;
}
.navbar-nav > li .profile-icon {
  background-image: url("/images/photo_logo.png");
}
