.card {
  margin-top: 50px;
}
.card-body {
  padding-top: 30px;
  padding-bottom: 30px;
}
#date_picker {
  background-color: #efefef;
  border-color: #efefef;
}
.post-btn {
  background-color: #b9d0b1;
  color: #fff;
  border-radius: 25px;
  border-color: #b9d0b1;
  font-size: 14px;
}
